.chat-bubble-l {
    background-color: #ECF0F1 !important;
}

.chat-bubble-meta {
    text-align: right;
}

.chat-bubble-actions {
    margin-top: 5px;

    button {
        text-align: left;
        background-color: #BCC0C0 !important;
        color: white;
        font-weight: bold;
    }

    button:hover {
        background-color: #A5A8A8 !important;
        color: white;
    }
}

.chat-room-footer-banner {
    border: none !important;
    border-radius: 0px;

    > .panel-body {
        padding: 5px;
        text-align: center;
        font-size: 75%;
    }
}

.chat-room-footer {
    .chat-form {
        .input-group-btn {
            .btn {
                border-radius: 0px 0px 3px 3px;
                opacity: 1;
            }
        }
    }
}

$color-white: #fff;
$color-brand: #0176D3;
$color-brand-dark: #015AA0;

.panel-brand {
    border-color: $color-brand-dark;

    .panel-heading {
        background-color: $color-brand;
        color: $color-white;
    }
}

.btn-brand {
    background-color: $color-brand;
    border-color: $color-brand-dark;
    color: $color-white;

    &:hover {
        background-color: darken($color-brand, 10%);
        border-color: darken($color-brand, 10%);
        color: $color-white;
    }
}

.text-brand {
    color: $color-brand;
}